@font-face {
    src: url("fonts/DS-DIGI.TTF");
    font-family: ds-digi;
}

body {
    margin: 0;
    background: rgb(1, 1, 52);

}

h3 {
    font-family: system-ui;
    /* background: green; */
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 5px rgb(255, 0, 0);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-evenly;

    /* background: red; */
    margin: 20px;
}

.black-box {
    width: 100px;
    height: 90px;
    background: black;
    color: red;
    border: 0.5px solid rgb(84, 84, 84);

    margin: -5px auto 20px auto;
    text-align: center;
    align-content: center;
}

.btnplus {
    background: rgb(1, 1, 52);
    color: rgb(175, 175, 175);

    margin: 2px 10px;
    width: 20px;
    height: 20px;

    border: 1px solid rgb(90, 90, 90);
    border-radius: 3px;

    padding: 5px 6px;

    text-align: center;
}

.reset {
    color: rgb(175, 175, 175);
    margin: 15px 0 0 0;
    text-align: center;
    cursor: pointer;
}

.flex {
    display: flex;
    cursor: pointer;
}

.font1 {
    font-family: ds-digi;
    font-size: 50px;
    text-shadow: 0px 0px 16px rgb(255, 255, 255);
}

.font2 {
    font-family: ds-digi;
    font-size: 20px;
    text-shadow: 0px 0px 3px rgb(255, 255, 255);
}